flow.json
[
    {
        "id": "68f1d2b77bbdcda6",
        "type": "tab",
        "label": "Apps",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "784d89e62dfb5070",
        "type": "cloudantplus",
        "host": "http://diga:password@localhost:5930",
        "name": "diga-couchdb"
    },
    {
        "id": "07090842a5b11d57",
        "type": "cloudantplus in",
        "z": "68f1d2b77bbdcda6",
        "name": "",
        "cloudant": "784d89e62dfb5070",
        "database": "smart-configs",
        "service": "_ext_",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "f146b2e3f30c2aa6"
            ]
        ]
    },
    {
        "id": "4b306d7cfa8e7656",
        "type": "change",
        "z": "68f1d2b77bbdcda6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "smart-apps",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 60,
        "wires": [
            [
                "07090842a5b11d57"
            ]
        ]
    },
    {
        "id": "f146b2e3f30c2aa6",
        "type": "function",
        "z": "68f1d2b77bbdcda6",
        "name": "check apps",
        "func": "let id = msg.req.params.id;\nmsg.found = msg.payload.data.some(x => x.code === id);\nif(msg.found){\n    msg.payload = msg.payload.data.find(x => x.code === id);\n}else{\n    msg.payload = \"not found\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 140,
        "wires": [
            [
                "db6e97c260d1ad13"
            ]
        ]
    },
    {
        "id": "db6e97c260d1ad13",
        "type": "switch",
        "z": "68f1d2b77bbdcda6",
        "name": "",
        "property": "found",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "c85ef54a9a96d6a5"
            ],
            [
                "5c0bb31de63a7815"
            ]
        ]
    },
    {
        "id": "c85ef54a9a96d6a5",
        "type": "http response",
        "z": "68f1d2b77bbdcda6",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "5c0bb31de63a7815",
        "type": "http response",
        "z": "68f1d2b77bbdcda6",
        "name": "",
        "statusCode": "404",
        "headers": {},
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "5ad004fefd0a0e7a",
        "type": "http in",
        "z": "68f1d2b77bbdcda6",
        "name": "",
        "url": "/api/apps/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "8645128bc12f8fb7"
            ]
        ]
    },
    {
        "id": "8645128bc12f8fb7",
        "type": "switch",
        "z": "68f1d2b77bbdcda6",
        "name": "",
        "property": "req.params.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "4b306d7cfa8e7656"
            ],
            [
                "ab1667e945489ac4"
            ]
        ]
    },
    {
        "id": "a11a2132155a3611",
        "type": "http response",
        "z": "68f1d2b77bbdcda6",
        "name": "",
        "statusCode": "404",
        "headers": {},
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "ab1667e945489ac4",
        "type": "change",
        "z": "68f1d2b77bbdcda6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "bad parameters",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "a11a2132155a3611"
            ]
        ]
    }
]